<li>
  <%= link_to color_potepan_category_path(params[:id], color: color.presentation) do %>
    <%= color.presentation %><span><%= "(#{count_number_of_products(color.presentation)})" %></span>
  <% end %>
</li>
