<div class="col-sm-4 col-xs-12">
  <div class="productBox">
    <div class="productImage clearfix">
      <%= image_tag(product.display_image.attachment.url, :alt => "featured-product-img") %>
    </div>
    <div class="productCaption clearfix">
      <h5><%= link_to product.name, potepan_product_path(product.id) %></h5>
      <h3><%= product.display_price %></h3>
    </div>
  </div>
</div>