<li>
  <a href="javascript:;" data-toggle="collapse" data-target="#<%= taxonomy.name %>"><%= taxonomy.name %><i class="fa fa-plus"></i></a>
  <ul id="<%= taxonomy.name %>" class="collapse collapseItem">
    <% taxonomy.taxons.leaves.each do |leaf| %>
     <li><%= link_to(content_tag(:i, "#{leaf.name} (#{leaf.products.size})", class: "fa fa-caret-right"), potepan_category_path(leaf.id)) %></li>
　　 <% end %>
  </ul>
</li>