<% product.images.each_with_index do |image, image_index| %>
  <% if image_index.zero? %>
    <div class="item active" data-thumb="<%= image_index %>">
      <%= image_tag(image.attachment.url) %>
    </div>
  <% else %>
    <div class="item" data-thumb="<%= image_index %>">
      <%= image_tag(image.attachment.url) %>
    </div>
  <% end %>
<% end %>