<%= link_to potepan_product_path(product.id) do %>
  <div class="slide">
    <div class="productImage clearfix">
      <%= image_tag(product.display_image.attachment.url, :alt => "featured-product-img") %>
    </div>
    <div class="productCaption clearfix">
      <h5><%= product.name %></h5>
      <h3><%= product.display_price %></h3>
    </div>
  </div>
<% end %>