<% product.images.each_with_index do |image, image_index| %>
  <div data-target="#carousel" data-slide-to="<%= image_index %>" class="thumb">
    <%= image_tag(image.attachment.url(:small)) %>
  </div>
<% end %>
