<% provide(:title, "#{@search_word}の検索結果") %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="my-5 search-result">
        <h2><%= "『#{@search_word}』の検索結果: #{@products.count}件" %></h2>
      </div>
      <div class="col-md-8 col-sm-8 offset-md-2 col-xs-12">
        <div class="row">
          <%= render partial: 'potepan/categories/products_under_taxon', collection: @products, as: :product %>
        </div>
      </div>
    </div>
  </div>
</section>